# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# pytest and coverage files
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Temporary and log files
*.log
pytest-result.txt

# Virtual environment
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Compiled files
*.pyc

# Build and distribution files
*.egg-info/
dist/
build/
